@import './style.css';

.card {
    background-color: rgba(52, 52, 50, 0.749);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    
}

.card_ {

    background-color: var(--fundo-aviso);
    font-family: var(--fonteDois);
    font-size: 32px;
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    
}

.sucessopalavra{
    color: var(--coloridos);
}


.nao{
    color: #FF3E3E;
}

.sucessobtn{

background-color: var(--coloridos);
font-family: var(--fonteTres);
font-size: 24px;
width: 600px;
height: 60px;
margin-top: 3rem;
border: 0;
border-radius: 4px;

}

.naobtn{
    background-color: #FF3E3E;
    font-family: var(--fonteTres);
    font-size: 24px;
    width: 600px;
    height: 60px;
    margin-top: 3rem;
    border: 0;
    border-radius: 4px;
    
}

.sucessobtn:active{
    transform: scale(0.88);
}

.naobtn:active{
   transform: scale(0.88);
}

